:root {
    --black: #2f3131;
    --blue: #426e86;
    --orange: #f9ba32;
    --white: #f8f1e5;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .1rem 1rem rgba(0,0,0,0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
    font-size: 18px;
    color: var(--black);
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 3rem;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

p {
    margin-bottom: 2rem;
}

body, html {
    height: 100%;
}

.header {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.header .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    padding: 0 2rem;
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s ease;
}

.header .navbar a {
    display: block;
    margin: 0.8rem 0;
    font-size: 1.5rem;
    color: var(--white);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .navbar.active {
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-icon {
    display: block;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.menu-icon i {
    font-size: 2rem;
    padding: 5px;
    background-color: var(--blue);
}

nav a {
    background-color: var(--blue);
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

fieldset {
    border: 0;
    margin-bottom: 2rem;
}

fieldset div {
    margin-bottom: 0rem;
}

legend {
    margin-bottom: 0.5rem;
}

.radio-button {
    padding: 5px 8px;
    margin-bottom: 0rem;
    border: 1px solid #999;
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    height: auto;
    line-height: normal;
    border-radius: 4px;
}

.radio-button:hover {
    background-color: #f9f9f9;
    border: 1px solid #f9ba32;
}

.radio-button.selected {
    background-color: #f9ba32;
    border-color: #f9ba32;
}

.radio-button:not(:last-child) {
    margin-bottom: 0.3rem;
}

header {
    border-bottom: 1px solid #999;
    /* margin-bottom: 2rem; */
    display: flex;
    background-color: #426E86;
    height: 100px;
    /* width: 100%; */
}

header div {
    background-color: #426E86;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-header {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header .main-header .logo {
    margin-left: 0;
}

.header .main-header .menu-icon {
    margin-left: auto;
}

.logo {
    background-color: #426E86;
    font-family: "Tiny5", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #F9BA32;
    text-decoration: none;
    width: fit-content;
}

.logo a:hover {
    color: #f8ae0d;
}

.login {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.login a {
    background-color: #426E86;
    margin-bottom: 10px;
    color: #F8F1E5;
    text-decoration: none;
}

.login a:last-child {
    margin-bottom: 0;
}

.login a:hover {
    color: #F8F1E5;
}

.main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.main-content a {
    color: #007bff;
    text-decoration: none;
}

.main-content a:hover {
    color: #426E86;
}

button {
    background-color: #F9BA32;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid var(--black);;
    border-bottom: 6px solid var(--black);;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0rem;
}
  
button:hover {
    background-color: #f8ae0d;
}

button .arrow {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #f9ba32;
    border-top: 1px solid #999;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    min-height: 50px;
    height: auto;
    width: 100%;
}

footer div {
    background-color: #f9ba32;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.main-footer h3 {
    background-color: #f9ba32;
}

.contacts {
    background-color: #f9ba32;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0 10px;
    margin-bottom: 2rem;
}

.contacts p {
    background-color: #f9ba32;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

.contacts p:last-child {
    margin-bottom: 0;
}

.contacts a {
    background-color: #f9ba32;
    font-size: 16px;
    color: #426E86;
    text-decoration: none;
}

.contacts a:hover {
    color: #F8F1E5;
}

.follow {
    background-color: #f9ba32;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0 10px;
    margin-bottom: 2rem;
}

.follow p {
    background-color: #f9ba32;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

.follow p:last-child {
    margin-bottom: 0;
}

.follow a {
    background-color: #f9ba32;
    font-size: 16px;
    color: #426E86;
    text-decoration: none;
}

.follow a:hover {
    color: #F8F1E5;
}

.newsletter {
    background-color: #f9ba32;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0 10px;
}

.newsletter p {
    background-color: #f9ba32;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

.newsletter p:last-child {
    margin-bottom: 0;
}

.newsletter a {
    background-color: #f9ba32;
    color: #426E86;
    text-decoration: none;
}

.newsletter a:hover {
    color: #F8F1E5;
}

@media (min-width: 475px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 768px;
    }

    .main-footer {
        flex-wrap: nowrap;
    }

    .header .navbar {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: var(--blue);
        box-shadow: none;
        clip-path: none;
    }

    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .menu-icon {
        display: none;
    }

    .login {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 1024px;
    }

    .main-footer {
        flex-wrap: nowrap;
    }

    .header .navbar {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: var(--blue);
        box-shadow: none;
        clip-path: none;
    }

    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .menu-icon {
        display: none;
    }
}

@media (min-width: 1280px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 1280px;
    }

    .main-footer {
        flex-wrap: nowrap;
    }

    .header .navbar {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: var(--blue);
        box-shadow: none;
        clip-path: none;
    }

    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .menu-icon {
        display: none;
    }
}

@media (min-width: 1536px) {
    .content,
    header div,
    .main-content,
    footer div,
    .main-footer {
        max-width: 1536px;
    }

    .main-footer {
        flex-wrap: nowrap;
    }
    
    .header .navbar {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: var(--blue);
        box-shadow: none;
        clip-path: none;
    }

    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .menu-icon {
        display: none;
    }
}