asgiref==3.8.1
astroid==3.2.2
crispy-bootstrap5==2024.2
dill==0.3.8
Django==5.0.6
django-crispy-forms==2.2
isort==5.13.2
mccabe==0.7.0
pillow==10.4.0
platformdirs==4.2.2
pylint==3.2.3
sqlparse==0.5.0
tomlkit==0.12.5
