{% load static %}
<html>
    <head>
        <title>English Quiz</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
        <link href="{% static 'css/pages.css' %}" rel="stylesheet">
        <link href="{% static 'css/form.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2ba9905dc1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class='main-header'>
                    <div class="logo">
                        <a href="{% url 'pages:home' %}" class="logo">Like&nbsp;A&nbsp;Native</a>
                    </div>
                    <nav class="navbar">
                        <a href="{% url 'quiz:quiz' %}">Quiz</a>
                        <a href="{% url 'pages:home' %}">Blog</a>
                        <a href="{% url 'pages:home' %}">Shop</a>
                        <div class="login-sm">
                            {% if user.is_authenticated %}
                                <p>Hi, {{ user.username }}</p>
                                <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}">Login</a>
                                <a href="{% url 'signup' %}">Sign&nbsp;up</a>
                            {% endif %}
                        </div>
                    </nav>
                    <div class="login">
                        {% if user.is_authenticated %}
                            <p>Hi, {{ user.username }}</p>
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Sign&nbsp;up</a>
                        {% endif %}
                    </div>
                    <div class="menu-icon"><i class="fas fa-bars" style="color: #f8f1e5" onclick='changeIcon(this)'></i></div>
                </div>
            </header>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <footer>
                <div class="main-footer">
                    <div class="contacts">
                        <p><h3>LikeANative.io</h3></p>
                        <p>Communication&nbsp;First.</p>
                        <p>English courses and immersion programs.</p>
                        <p><a href="mailto:info@likeanative.io">info@likeanative.io</a></p>
                        <p>Copyright 2024 LikeANative.</p>
                        <p><a href="{% url 'pages:home' %}">Privacy policy</a></p>
                    </div>
                    <div class="follow">
                        <p><h3>Follow us on</h3></p>
                        <p><a href="{% url 'pages:home' %}">Youtube</a></p>
                        <p><a href="{% url 'pages:home' %}">Facebook</a></p>
                        <p><a href="{% url 'pages:home' %}">Instagram</a></p>
                    </div>
                    <div class="newsletter">
                        <p><h3>Newsletter</h3></p>
                        <p>Subscribe for free content.</p>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            {% comment %} let navbar = document.querySelector('.navbar');
            let menu = document.querySelector('.menu-icon');

            menu.onclick = () => {
                navbar.classList.toggle('active');
            }

            function changeIcon(icon) {
                icon.classList.toggle('fa-times');
            } {% endcomment %}
            let navbar = document.querySelector('.navbar');
            let menu = document.querySelector('.menu-icon');
            let timeout;

            menu.onclick = () => {
                navbar.classList.toggle('active');
            }

            menu.addEventListener('mouseover', () => {
                clearTimeout(timeout);
                navbar.classList.add('active');
            })
            
            menu.addEventListener('mouseout', () => {
                timeout = setTimeout(() => {
                    navbar.classList.remove('active');
                }, 200);
            })
            
            navbar.addEventListener('mouseover', () => {
                clearTimeout(timeout);
                navbar.classList.add('active');
            })
            
            navbar.addEventListener('mouseout', () => {
                timeout = setTimeout(() => {
                    navbar.classList.remove('active');
                }, 200);
            })
        </script>
    </body>
</html>
